.departments__background {
    background-color: $primary; 
}
.departments {
    padding: 40px 0;
    
    margin-top: 100px;
    
}


.departments__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    @media (max-width: $tablet-wide) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    
    
}
.departments__item {
    background-color: rgb(255, 255, 255,0.4);
    border-radius: $defaultradius;
    box-shadow: $defaultshadow;
    backdrop-filter: blur(8px);
    border: 1px solid rgb(255, 255, 255,0.5);
    text-align: center;
    margin: 10px;
    padding: 20px 30px;
    width: 90%;
    position: relative;
    @media (max-width: $tablet) {
        padding: 10px 15px;
        height: 200px;
        
    }
    
}
.departments__item__content {
    @media (max-width: $tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}
.departments__pic {
    
    svg {
        height: 70px;
        width: 70px;
        fill: white;
        margin-bottom: 40px;
        @media (max-width: $tablet) {
            height: 50px;
            margin-bottom: 20px;
        }
    }
}
.departments__content {
    text-align: center;
    font-size: 24px;
    color: white;
    @media (max-width: $tablet) {
        font-size: 20px;
    }
    
}
