.departments__background {
    background-color: $primary; 
}
.departments {
    padding: 40px;
    
    margin-top: 100px ;
    
}
.departments__title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 40px;
    color: white;
    margin-bottom: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    &::before {
            display: block;
            margin-right: 8px;
            width: 25px;
            height: 35px;
            background-color: white;
            content: "";
    }
}

.departments__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    
    
    
}
.departments__item {
    background-color: rgb(255, 255, 255,0.4);
    border-radius: $defaultradius;
    box-shadow: $defaultshadow;
    backdrop-filter: blur(8px);
    border: 1px solid rgb(255, 255, 255,0.5);
    text-align: center;
    margin: $defaultmargin;
    padding: 40px;
    
    
    
}
.departments__pic {
    margin-bottom: 40px;
    svg {
        height: 70px;
        width: 70px;
        fill: white;
    }
}
.departments__content {
    text-align: center;
    font-size: 24px;
    color: white;
}
