.departments__background {
    background-color: $primary; 
}
.departments {
    padding: 40px 0;
    margin-top: 100px;
    @media (max-width:$tablet) {
        margin-top: 75px;
    }
    @media (max-width:$mobile) {
        margin-top: 50px;
    }
}


.departments__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    @media (max-width: $tablet-wide) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    
    
}
.departments__item {
    background-color: rgb(255, 255, 255,0.4);
    border-radius: $defaultradius;
    box-shadow: $defaultshadow;
    border: 1px solid rgb(255, 255, 255,0.5);
    text-align: center;
    margin: 10px;
    padding: 20px 30px;
    width: 90%;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: $animtransition;
    z-index: 10;
    &.animate {
        transform: translateY(0);
        opacity: 1;
        &--2 {
            transition-delay: .2s;
        }
        &--3 {
            transition-delay: .4s;
        }
        &--4 {
            transition-delay: .6s;
        }
        &--5 {
            transition-delay: .8s;
        }
        &--6 {
            transition-delay: 1s;
        }
    }
    @media (max-width: $tablet) {
        padding: 10px 15px;
        height: 200px;
    }
    @media (max-width: $mobile) {
        padding: 8px 10px;
        height: 150px;
    }
    
}
.departments__item__content {
    @media (max-width: $tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}
.departments__pic {
    
    svg {
        height: 70px;
        width: 70px;
        fill: white;
        margin-bottom: 40px;
        @media (max-width: $tablet) {
            height: 50px;
            margin-bottom: 20px;
        }
        @media (max-width: $mobile) {
            height: 40px;
            margin-bottom: 10px;
        }
    }
}
.departments__content {
    text-align: center;
    font-size: 24px;
    color: white;
    @media (max-width: $tablet) {
        font-size: 20px;
    }
    @media (max-width: $mobile) {
        font-size: 18px;
    }
    
}
