.documents {
    margin: 100px 0;
    
}
.documents__content {
    display: flex;
    padding: 30px;
    height: 600px;
    

}
.documents__img {
    width: 60%;
    height: auto;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    &--big {
        width: 90%;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
        border-radius: $defaultradius;
        box-shadow: $defaultshadow;
        z-index: 99;
    }
    &--medium {
        position: absolute;
        top: 270px;
        left: 8%;
        width: 50%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
        border-radius: $defaultradius;
        box-shadow: $defaultshadow;
        z-index: 100;
        
    }
    &--small {
        position: absolute;
        top: 300px;
        left: 62%;
        width: 30%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        object-fit: cover;
        border-radius: $defaultradius;
        box-shadow: $defaultshadow;
        z-index: 101;
    }

}
.documents__list {
    width: 40%;
    padding: 0 25px;
    margin: auto;
    ul {
        line-height: 50px;
        
        li {
            font-weight: 500;
            font-size: 20px;
            
            
            &::marker {
                color: $primary;
                font-size: 20px;
                
                
            }
        }
    }
}
.documents__list__title {
    font-weight: 500;

    font-size: 32px;
    span {
        color: $primary;
        font-weight: 700;
        line-height: 70px;
    }
}
