footer {
    background-color: $primary;
    width: 100%;
    
}
.footer__social__items {
    i {
        font-size: 48px;
        color: white;
    }
}
.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: inherit;
    padding: 50px;
    @media (max-width: $tablet) {
        padding: 30px;
        flex-direction: column;
        
    }
}
.footer__title {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
    
    @media (max-width: $tablet) {
        font-size: 28px;
        margin-bottom: 15px;
    }
}
.footer__address {
    width: 20%;
    color: white;
    @media (max-width: $tablet) {
        width: 100%;
    }
    a {
        text-decoration: none;
        color: white;
        
        &:hover {
            text-decoration: underline;
            
        }
    }

}

.footer__contacts__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    a {
        
        margin-left: 10px;
        
        color: white;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
    i {
        color: white;
        font-size: 24px;
    }

}
.footer__social__items {
    display: flex;
    justify-content: space-evenly;
    i {
        &:hover {
            color: darken($color: white, $amount: 30%);
        }
    }
}
.footer__address,
.footer__contacts,.footer__social {
    @media (max-width: $tablet) {
        margin: 15px auto;
        text-align: center;
    }
}