.gross {
    margin: 100px auto;
}

.gross__content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;

}
.gross__content__left {
    width: 40%;
}
.gross__content__title {
    font-size: 64px;
    font-weight: 700;
    color: $primary;
    padding: $defaultmargin;
}
.gross__content__text {
    margin-top: $defaultmargin;
    font-size: 32px;
    font-weight: 500;
    padding: $defaultmargin;
    span {
        color: $primary;
        font-weight: 700;
    }
}
.gross__content__right {
    
    border-radius: $defaultradius;
    box-shadow: $defaultshadow;
    img {
        border-radius: $defaultradius;
        display: flex; 
        width: 500px;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
    }
}
