.partners {
    margin: 100px auto;
}

.partners__slider {
    display: flex;
    align-items: center;
    
}
.partners__slider2 {
    display: flex;
    align-items: center;
    
}
.partners__logo {
    img {
        width: 200px;
        @media (max-width:$tablet-wide) {
            width: 150px;
        }
    }
    &--small {
        img {
            width: 150px;
            @media (max-width:$tablet-wide) {
                width: 100px;
            }
        }
    }
}


