.partners {
    // visibility: hidden;
    margin: 100px auto;
    @media (max-width: $tablet) {
        margin: 75px auto;
    @media (max-width: $mobile) {
        margin: 50px auto 0;
        }
    }
    // &.show {
    //     visibility: visible;
    // }
}

.partners__slider {
    display: flex;
    align-items: center;
    
}
.partners__slider2 {
    display: flex;
    align-items: center;
    
}
.partners__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
        object-fit: contain;
        overflow: hidden;
        padding: 15px;
        width: 200px;
        @media (min-width:$tablet) {
            height: 150px;
        }
        @media (max-width:$tablet-wide) {
            width: 120px;
        }
        @media (max-width:$mobile) {
            width: 90px;
            padding: 5px;
        }
        &:hover {
            
            transform: scale(1.3);
            transition: .2s;
        }
    }
    &--small {
        
        img {
            width: 150px;
            @media (max-width:$tablet-wide) {
                width: 90px;
            }
            @media (max-width:$mobile) {
                width: 60px;
            }
        }
    }
}


