.partners {
    margin: 100px auto;
    @media (max-width: $tablet) {
        margin: 75px auto;
    @media (max-width: $mobile) {
        margin: 50px auto 0;
        }
    }
}

.partners__slider {
    display: flex;
    align-items: center;
    
}
.partners__slider2 {
    display: flex;
    align-items: center;
    
}
.partners__logo {
    img {
        width: 200px;
        @media (max-width:$tablet-wide) {
            width: 120px;
        }
        @media (max-width:$mobile) {
            width: 90px;
        }
    }
    &--small {
        img {
            width: 150px;
            @media (max-width:$tablet-wide) {
                width: 90px;
            }
            @media (max-width:$mobile) {
                width: 60px;
            }
        }
    }
}


