.service {
    padding: 30px 10px 50px 10px;
    background-color: whitesmoke;
}

.service__block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.service__item {
    background-color: white;
    height: 350px;
    margin: 0 20px;
    border-radius: $defaultradius;
    box-shadow: $defaultshadow;
    overflow: hidden;
    @media (max-width: $tablet-wide) {
        margin: 0 10px;
    }
    
    h4 {
        text-align: center;
        margin-top: 40px;
        color: $primary;
        font-size: 20px;
        
    }
    img {
        height: 65%;
        width: 100%;
        object-fit: cover;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
}
