$primary: #3842a4;
$secondary: #FFFFFF;
$bgcolor: #fffff5;
$textcolor: #000000f1;
$defaultmargin: 15px;
$defaultradius: 25px;
$defaultshadow: 0 4px 30px rgba(0, 0, 0, 0.2);
$tablet-wide: 1150px;
$tablet: 991px;
$mobile: 600px;
$animtransition: .75s;



// PARTS

.title {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
    font-size: 54px;
    color: $primary;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    border-left: 25px solid $primary;
    word-wrap: break-word;
    @media (max-width: $tablet) {
        margin-left: 5px;
        }
    &--white {
        color: white;
        border-left: 25px solid white;
    }
    @media (max-width: $tablet) {
        font-size: 44px;
        
        }
    @media (max-width: $mobile) {
        font-size: 34px;
        }
}

.btn {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 15px 35px;
    background-color: $primary;
    border-radius: 40px;
    box-shadow: $defaultshadow;
    border: none;
    cursor: pointer;
    transition: .25s;
    &:hover {
        background-color: darken($color: $primary, $amount: 10%);
    }
}