

<footer>
    <div class="container">
        <div class="footer__block">
            <div class="footer__address">
                <div class="footer__title">Address</div>
                <a href="https://www.google.com/maps/place/1500+Detroit+Ave,+Cleveland,+OH+44113,+%D0%A1%D0%A8%D0%90/@41.4938666,-81.7069023,17z/data=!3m1!4b1!4m5!3m4!1s0x8830f064ffc6e3b5:0x7679263db740a3ba!8m2!3d41.4938626!4d-81.7047136">1500 Detroit Ave, Cleveland, OH 44113, USA</a>
            </div>
            <div class="footer__contacts">
                <div class="footer__title">Contacts</div>
                <div class="footer__contacts__items"></div>
                    <div class="footer__contacts__item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:+14403993001"> +1 440 399 3001</a>
                    </div>
                    <div class="footer__contacts__item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:office.karvongroup@gmail.com">office.karvongroup@gmail.com</a>
                    </div>
                    <div class="footer__contacts__item">
                        <img src="" alt="">
                        <p></p>
                    </div>
                </div>
            <div class="footer__social">
                <div class="footer__title">Social media</div>
                <div class="footer__social__items">
                    <a href="/"><i class="fa fa-facebook-square"></i></a>
                    <a href="/"><i class="fa fa-instagram"></i></a>
                    <a href="/"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
