

<footer>
    <div class="container">
        <div class="footer__block">
            <div class="footer__address">
                <div class="footer__title">Address</div>
                <a target="_blank" href="https://www.google.com/maps/place/2542+E+Aurora+Rd,+Twinsburg,+OH+44087,+%D0%A1%D0%A8%D0%90/@41.3109044,-81.4497003,17z/data=!3m1!4b1!4m5!3m4!1s0x88311f3d06d6bbb3:0xf34fbf476014dd81!8m2!3d41.3109004!4d-81.4475116">2542 East Aurora RD STE 101 Twinsburg, OH 44087</a>
            </div>
            <div class="footer__contacts">
                <div class="footer__title">Contacts</div>
                <div class="footer__contacts__items"></div>
                    <div class="footer__contacts__item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:+14403993001"> +1 440 399 3001</a>
                    </div>
                    <div class="footer__contacts__item">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:office.karvongroup@gmail.com">office.karvongroup@gmail.com</a>
                    </div>
                    <div class="footer__contacts__item">
                        <img src="" alt="">
                        <p></p>
                    </div>
                </div>
            <div class="footer__social">
                <div class="footer__title">Social media</div>
                <div class="footer__social__items">
                    <a href="/" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
