<header class="header">
    <div class="container">
        <div class="header__block">
            <a class="header__logo" href="/">
                    <img src="assets\images\logos\KarvonMiniLogo.png" alt="Karvon Group">
                    <p>Karvon group</p>
            </a>
            <div class="header__pages">
                <a class="header__pagesin" href="/">About</a>
            
                <a class="header__pagesin" href="/">Benefits</a>
            
                <a class="header__pagesin" href="/">Contacts</a>
                <button class="btn" type="button">Contacts
                </button>
            </div>
            <div class="header__burger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>   
    
</header>
