<header class="header">
    <div class="header__menu" id="header__menu">
        <div class="menu__close">
            <i class="fa fa-close"></i>
        </div>
        <div class="header__menu__content">
            <a class="header__logo header__logo--mobile" href="/">
                <img src="assets\images\logos\KarvonMiniLogo.png" alt="Karvon Group">
                <p>Karvon group</p>
            </a>
            
            <div class="header__pages header__pages--mobile">
                <a class="header__pagesin header__pagesin--mobile header__pagesin--home" href="/">Home</a>
            
                <a class="header__pagesin header__pagesin--mobile header__pagesin--about" href="about.html">About</a>
            
                <a class="header__pagesin header__pagesin--mobile" href="/">Contacts</a>
            </div>
            
            <div class="header__menu__contacts">
                <p>Our phone numbers:</p>
                <div class="header__menu__contacts__number">
                    <i class="fa fa-phone-square"></i>
                    <a href="tel:+14403993001" class="model__contacts__phone">440 399 3001</a>
                </div>
                <div class="header__menu__contacts__number">
                    <i class="fa fa-phone-square"></i>
                    <a href="tel:+14402901046" class="model__contacts__phone">440 290 1046</a>
                </div>
                <div class="header__menu__email">Our email addresses:
                    <div class="header__menu__email__email">
                        <i class="fa fa-envelope"></i>
                        <a class="model__contacts__mail" href="mailto:office.karvongroup@gmail.com">office.karvongroup@gmail.com</a>
                    </div>
                    <div class="header__menu__email__email">
                        <i class="fa fa-envelope"></i>
                        <a class="model__contacts__mail" href="mailto:tftexpress@gmail.com">tftexpress@gmail.com</a>
                    </div>
                    <div class="header__menu__email__email">
                        <i class="fa fa-envelope"></i>
                        <a class="model__contacts__mail" href="mailto:karvonfreightllc@gmail.com">karvonfreightllc@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__block">
            <a class="header__logo" href="/">
                    <img src="assets\images\logos\KarvonMiniLogo.png" alt="Karvon Group">
                    <p>Karvon group</p>
            </a>
            <div class="header__pages">

                <a class="header__pagesin header__pagesin--home" href="/">Home</a>
                
                <a class="header__pagesin header__pagesin--about" href="about.html">About</a>
            
                <a class="header__pagesin" href="/">Contacts</a>
                <button class="btn" id="btn__contacts" type="button">Contacts
                </button>
            </div>
            <div id="header__burger" class="header__burger">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>   
</header>
