<!-- MODAL !!! -->
<div class="modal__backgr" id="modal__backgr">
    
</div>


<div class="modal__contacts" id="modal__contacts">
    <div class="modal__close">
        <i class="fa fa-close"></i>
    </div>
    <div class="modal__contacts__content">
        <div class="modal__contacts__numbers">
            <p>Call 24/7 to numbers below:</p>
            <a href="tel:+14403993001" class="model__contacts__phone">+1 440 399 3001</a>
            <a href="tel:+14402901046" class="model__contacts__phone">+1 440 290 1046</a>
        </div>
        
        <div class="model__contacts__picture">
            <img src="assets\images\call.png" alt="call">
        </div>
    </div>
    <div class="modal__contacts__content">
        <div class="modal__contacts__emails">
            <p>Reach out us by email:</p>
            <a class="model__contacts__mail" href="mailto:office.karvongroup@gmail.com">office.karvongroup@gmail.com</a>
            <a class="model__contacts__mail" href="mailto:tftexpress@gmail.com">tftexpress@gmail.com</a>
            <a class="model__contacts__mail" href="mailto:karvonfreightllc@gmail.com">karvonfreightllc@gmail.com</a>
        </div>
        <div class="model__contacts__picture">
            <img src="assets\images\email.png" alt="email">
        </div>
    </div>
</div>
<!-- MODAL !!! -->